<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.wy.mapper.DefectMapper">

	<insert id="addDefect" >
		insert into defect
		(defect_code,
		defect_name,
		create_by,
		assigned_user,
		project_id,
		defect_status,
		defect_type,
		defect_severity,
		defect_priority,
		defect_probability,
		processing_status,
		defect_solution,
		defect_remarks,
		defect_img,
		create_time) 
		VALUES(#{defectCode},
			   #{defectName},
			   #{createBy},
			   #{assignedUser},
			   #{projectId},
			   #{defectStatus},
			   #{defectType},
			   #{defectSeverity},
			   #{defectPriority},
			   #{defectProbability},
			   #{processingStatus},
			   #{defectSolution},
			   #{defectRemarks},
			   #{defectImg},
			   #{createTime});
	</insert>
	
	<!--查询bug编码-->
	<select id="selectDefectCode"  resultType="com.bhdx.wy.domain.po.DefectPO">
			select defect_code from defect where defect_code = #{defectCode};
	</select> 
	
	

		<!--查询bug列表-->
	<select id="selectDefectList"  resultType="com.bhdx.wy.domain.dto.DefectDTO">
		SELECT 
			d.defect_code defect_code,
			d.defect_name defect_name,
			u1.username create_by,
			u2.username assigned_user,
			c1.code_name defect_status,
			c2.code_name defect_type,
			c3.code_name defect_severity,
			c4.code_name defect_priority,
			c5.code_name defect_probability,
			c6.code_name processing_status,
			c7.code_name defect_solution
		FROM defect d,user u1,user u2,code c1,code c2,code c3,code c4,code c5,code c6,code c7
		WHERE   d.create_by = u1.user_id
				and d.assigned_user = u2.user_id
				and d.defect_status = c1.code_number
				and d.defect_type = c2.code_number
				and d.defect_severity = c3.code_number
				and d.defect_priority = c4.code_number
				and d.defect_probability  = c5.code_number
				and d.processing_status = c6.code_number
				and d.defect_solution = c7.code_number
			<if test="defectStatus != null and defectStatus != ''">
				and d.defect_status = #{defectStatus}
		 	</if>
		 	
		 	<if test="defectSeverity != null and defectSeverity != ''">
				and d.defect_severity = #{defectSeverity}
		 	</if>
		 	<if test="defectPriority != null and defectPriority != ''">
				and d.defect_priority = #{defectPriority}
		 	</if>
			<if test="processingStatus != null and processingStatus != ''">
				and d.processing_status = #{processingStatus}
		 	</if>
			<if test="defectSolution != null and defectSolution != ''">
				and d.defect_solution = #{defectSolution}
		 	</if>
		 	
		 	 <if test="defectKey != null and defectKey != ''">
		 	 	and (d.defect_code like CONCAT('%',#{defectKey},'%')  or d.defect_name like CONCAT('%',#{defectKey},'%') )
		 	</if>
	</select> 
	
	<!-- getdefectDetails -->
	
	
	<select id="getdefectDetails"  resultType="com.bhdx.wy.domain.dto.DefectDTO">
		SELECT 
			d.defect_code defect_code,
			d.defect_name defect_name,
			d.defect_img defect_img,
			d.defect_remarks defect_remarks,
			u1.username create_by,
			u2.username assigned_user,
			c1.code_name defect_status,
			c2.code_name defect_type,
			c3.code_name defect_severity,
			c4.code_name defect_priority,
			c5.code_name defect_probability,
			c6.code_name processing_status,
			c7.code_name defect_solution
		FROM defect d,user u1,user u2,code c1,code c2,code c3,code c4,code c5,code c6,code c7
		WHERE   d.create_by = u1.user_id
				and d.assigned_user = u2.user_id
				and d.defect_status = c1.code_number
				and d.defect_type = c2.code_number
				and d.defect_severity = c3.code_number
				and d.defect_priority = c4.code_number
				and d.defect_probability  = c5.code_number
				and d.processing_status = c6.code_number
				and d.defect_solution = c7.code_number
				and d.defect_code =  #{defectCode}
	</select> 
	
		
	<!-- 修改缺陷     -->
	<update id="updateDefectDetail">
	UPDATE defect SET 
		<if test="defectName != null and defectName != ''">
			defect_name = #{defectName},
		</if>
		<if test="defectStatus != null and defectStatus != ''">
			defect_status = #{defectStatus},
		</if>		 
		<if test="defectSeverity != null and defectSeverity != ''">
			defect_severity = #{defectSeverity},
		</if>		 
		<if test="defectPriority != null and defectPriority != ''">
			 defectPriority = #{defectPriority},
		</if>		
		<if test="processingStatus != null and processingStatus != ''">
			 processing_status = #{processingStatus},
		</if>	
		<if test="defectSolution != null and defectSolution != ''">
			 defect_solution = #{defectSolution},
		</if>
		<if test="defectRemarks != null and defectRemarks != ''">
			 defect_remarks = #{defectRemarks},
		</if>	
		<if test="defectImg != null and defectImg != ''">
			 defect_img = #{defectImg},
		</if>		
			 update_by = #{updateBy},
			 update_time = #{updateTime}
	WHERE 
		defect_code = #{defectCode};
	</update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>