<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhdx.wy.mapper.ProjectMapper">

	<!--添加项目分组列表-->
	<insert id="addProjectGroup" >
		insert into project_group
		(project_group_code ,project_group_name,project_group_remarks) 
		VALUES(#{projectGroupCode},#{projectGroupName},#{projectGroupRemarks});
	</insert>
	
		<!--查询项目分组编号-->
	<select id="getProjectGroupCode"  resultType="Object">
		select project_group_code from project_group where project_group_code = #{projectGroupCode}
	</select>
	
		<!--查询项目分组信息-->
	<select id="getProjectGroup"  resultType="com.bhdx.wy.domain.po.ProjectGroupPO">
		select project_group_code,project_group_name from project_group where is_delete = 0
	</select>
	
		<!--查询项目分组编号-->
	<select id="getProjectCode"  resultType="Object">
		select project_code from project where project_code = #{projectCode} 
	</select>
	
	
	<!--添加项目列表-->
	<insert id="addProject" >
		insert into project
		(project_code ,project_name,user_id,remarks,project_status,project_group_id,create_time) 
		VALUES(#{projectCode},#{projectName},#{userId},#{projectRemarks},#{projectStatus},#{projectGroupId},#{createTime});
	</insert>
	
	<!-- 查询项目 -->
	<select id="getProject"  resultType="com.bhdx.wy.domain.dto.ProjectDTO">
			select 
				p.project_code,
				p.project_name,
				p.project_status,
				p.remarks,
				u.username,
				pg.project_group_name,
				DATE_FORMAT(p.create_time,'%Y-%m-%d') 
			FROM project p, user u ,project_group pg
		    where p.user_id = u.user_id 
			and p.project_group_id = pg.project_group_id
			<if test="projectName != null and projectName != ''">
		 		and p.project_name like 
		 		CONCAT('%',#{projectName},'%') 
		 	</if>
		 	<if test="createTime != null ">
		 	and  DATE_FORMAT(p.create_time,'%Y-%m-%d') = #{createTime}
		 	</if>
		 	
	</select>
	
	<!-- 修改项目 -->
	<update id="updateProject">
	UPDATE project set 
	<if test="projectName != null and projectName != ''">
		 project_name =  #{projectName},
	</if>
	<if test="remarks != null and remarks != '' ">
		 	remarks= #{remarks},
	</if>
	<if test="projectStatus != null and projectStatus != '' ">
		 		project_status= #{projectStatus},
	</if>
		 update_time= #{updateTime} 
	where project_code = #{projectCode} 
	</update>
	
	<!-- 删除项目 -->
	<update id="deleteProject">
		UPDATE project SET is_delete = 1 WHERE project_code = #{projectCode} 
	</update>
</mapper>